{
   "singleQuote": true,
   "trailingComma": "all",
   "useTabs": false,
   "tabWidth": 3,
   "overrides": [
      {
         "files": "*.yaml",
         "options": {
            "tadWidth": 3,
            "printWidth": 40,
            "singleQuote": true
         }
      }
   ]
}
